@font-face {
  font-family: 'Recursive';
  src: url('/assets/recursive-MONO_CASL_wght_slnt_ital--2019_11_05-00_13.woff2') format('woff2-variations');
  font-weight: 300 900;
}

:root {
  font-size: 16px; 
  --TL-color: #00851d;
  --TL-flash: #59994d;
  --TR-color: #62018c;
  --TR-flash: #894b94;
  --BL-color: #910029;
  --BL-flash: #914954;
  --BR-flash: #8f874a;
  --BR-color: #8c7701;
}

html {
  background-color: #191a1b;
  color: white;
  scrollbar-width: thin;
  scrollbar-color:  white #191a1b;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  font-family: 'Recursive','Segoe UI', Tahoma, sans-serif ;
  min-height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 5%;
  overflow-x: hidden;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}


/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

svg {
  display: block;
  max-width: 100%;
}


main {
  height: 100vh;
}

.title--game {
  font-size: calc(2em + 1.5vw);
  line-height: 0.9em;
}

.title--game > span:nth-child(1), 
.title--game > span:nth-child(4){
  text-transform: uppercase;
}

.title--game > span:nth-child(1) {
  letter-spacing: 0.002em;
  font-weight: 300;
}

.title--game > span:nth-child(2) {
  font-weight: 300;
  font-style: oblique -5.6deg;
  font-variation-settings: "ital" 0, "CASL" 1;
  letter-spacing: -0.082em;
  font-size: 0.741em;
}

.title--game > span:nth-child(4) {
  letter-spacing: 0.148em;
  font-variation-settings: "CASL" 0, "ital" 1;
}
  
#game--pads {
  margin: 2rem 2rem;
  display: grid;
  grid-template-columns: minmax(30vw,200px) minmax(5ch, 6ch) minmax(30vw,200px);
  grid-template-rows: 8rem minmax(3ch, 4ch) 8rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pad {
 width: 30vmin;
 height: 30vh;
}

.controls--game {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.controls--game__btn {
  font-size: 1.5em;
  background: #5c5151;
  color: #ffebeb;
  height: 50px;
  border: none;
}

#turn {
  grid-column: 2;
  grid-row: 2;
  background: #888181;
  color: #ffebeb;
  font-size: 1.188em;
  height: 30px;
  width: 2rem;
  border-radius: 1ch;
  font-weight: 592;
  text-align: center;
  vertical-align: middle;
}

svg:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
}

#pad--one {
  fill: var(--TL-color);
}

svg:nth-of-type(2) {
  grid-column: 3;
  grid-row: 1;
}

#pad--two {
  fill: var(--TR-color);
}

svg:nth-of-type(3) {
  grid-column: 1;
  grid-row: 3;
}

#pad--three {
  fill: var(--BL-color);
}

svg:nth-of-type(4) {
  grid-column: 3;
  grid-row: 3;
}

#pad--four {
  fill: var(--BR-color);
}

  
#inner-circle {
  background: grey;
  height: 250px;
  width: 250px;
  border-style: solid;
  border-width: 10px;
}

.strictMode {
  display: none;
}

@media  screen and (min-width: 450px) {
  .title--game {
    font-size: calc(2em + 2.5vw);
  }

  .controls--game {
    margin-top: 4rem;
  }
  #game--pads {
    margin-top: 4rem;
  }
}


@media  screen and (min-width: 800px) {
  #title--game {
    font-size: 6em;
  }
  #game--pads {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3.5rem;
  }

  .pad {
    width: 40vh;
    height: 40vh;
    }

  svg:nth-of-type(1) {
    order: 1;
  }
  svg:nth-of-type(2) {
    order: 2;
  }
  svg:nth-of-type(3) {
    order: 4;
  }
  svg:nth-of-type(4) {
    order: 5;
  }

  #turn {
    order: 3;
    align-self: center;
    flex: 0 0 4ch;
  }
}
